
body {
background-image: url(https://i.postimg.cc/wv2rXZYw/7aylor.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 642px;
color: rgba(300,300,300,0.8);

font-family: Arial, Helvetica, Sans-Serif;


margin: 8% 4%; 
}

.exp-header {
text-align: center;
  text-transform: uppercase;
border-top: 1px solid #696969;
border-bottom: 1px solid #696969;
background-color: rgba(0,0,0,0.5)
}


5f9ea0
